In [3]:
import numpy as np
import pandas as pd
import os

In [4]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv"
titanic_df = pd.read_csv(url)

In [5]:
for dirname, _, filenames in os.walk(url):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [6]:
# infile =open(url)
# lines = infile.readlines()

# print(type(lines))
# print(lines)
# print(lines.split('\n'))
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
titanic_df.info()
titanic_df.describe()
print(type(titanic_df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>

In [8]:
titanic_df.tail()
ages = titanic_df["Age"]
ages.min()
columns = ["Age", "Sex"]
age_sex = titanic_df[columns]
#under_25 = titanic_df["Age"] < 25
people_1_2 = titanic_df["Pclass"].isin([1,2])
people_1_2
under_25 = titanic_df[(titanic_df["Pclass"] == 1) | (titanic_df["Pclass"] == 2) & (titanic_df["Age"] <25)]

In [9]:
titanic_clean_df = titanic_df
titanic_clean_df.isnull().sum()

titanic_clean_df.drop("Cabin", axis=1, inplace=True) #axis 0 is row and axis 1 is column

titanic_clean_df["Age"].describe()
titanic_clean_df["Age"] = titanic_clean_df["Age"].fillna(29.6)

columns = ["Age", "Sex"]
titanic_clean_df[columns]

titanic_clean_df_new = titanic_clean_df

In [10]:
print(titanic_clean_df_new)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.6      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Embarked
0        0         A/5 21171   7.2500        S
1        0          PC 17599  71.2833        C
2        0  STON/O2. 3101282   7.9250        S
3        0            113803  53.1000        S
4        0            373450   8.0500        S
..     ...               ...      ...      ...
886      0            211536  13.0000        S
887      0            112053  30.0000        S
888      2        W./C. 6607  23.4500        S
889      0            111369  30.0000        C
890      0            370376   7.7500        Q

[891 rows x 11 columns]

In [11]:
cleaned_chain = (
titanic_clean_df_new.dropna(subset="Age")
    [["PassengerId", "Age", "Embarked", "Fare", "Pclass"]]
    .sort_values(by="Fare")
    )

In [12]:
print("Data after method chaining:\n", cleaned_chain)
print("DF WITHOUT AGE COLUMN!!!!!!!!!!!!")

print(titanic_clean_df_new)

Data after method chaining:
      PassengerId   Age Embarked      Fare  Pclass
815          816  29.6        S    0.0000       1
806          807  39.0        S    0.0000       1
413          414  29.6        S    0.0000       2
481          482  29.6        S    0.0000       2
302          303  19.0        S    0.0000       3
..           ...   ...      ...       ...     ...
438          439  64.0        S  263.0000       1
341          342  24.0        S  263.0000       1
737          738  35.0        C  512.3292       1
679          680  36.0        C  512.3292       1
258          259  35.0        C  512.3292       1

[891 rows x 5 columns]
DF WITHOUT AGE COLUMN!!!!!!!!!!!!
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.6      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Embarked
0        0         A/5 21171   7.2500        S
1        0          PC 17599  71.2833        C
2        0  STON/O2. 3101282   7.9250        S
3        0            113803  53.1000        S
4        0            373450   8.0500        S
..     ...               ...      ...      ...
886      0            211536  13.0000        S
887      0            112053  30.0000        S
888      2        W./C. 6607  23.4500        S
889      0            111369  30.0000        C
890      0            370376   7.7500        Q

[891 rows x 11 columns]

In [13]:
def rename_pclass(df):
    mapping = {"First":1, "Second":2, "Third":3}
    df = df.copy
    return df

In [14]:
cleaned_pipeline = (
    #.pipe(rename_pclass)
    [["PassengerId", "Age", "Embarked", "Fare", "Pclass"]]
    #.sort_values(by="Fare")
)

In [15]:
print("Data after method chaining:\n", cleaned_pipeline)

Data after method chaining:
 [['PassengerId', 'Age', 'Embarked', 'Fare', 'Pclass']]